@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
  box-sizing: border-box;
}

body {
  background: rgb(58, 58, 61);
  background: linear-gradient(
    0deg,
    rgba(58, 58, 61, 1) 0%,
    rgba(101, 101, 103, 1) 31%,
    rgba(135, 141, 143, 1) 100%
  );
}

.container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.header {
  text-align: center;
  height: 100px;
  width: 100%;
  margin-top: 50px;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 600px;
  height: 400px;
  border: 3px solid #74777d;
}

#drum-buttons {
  height: 75%;
  background-color: #eaeaea;
  display: flex;
  flex-wrap: wrap;
}

#display {
  height: 25%;
  background-color: #f2a42e;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  padding-top: 4%;
}

.drum-pad {
  position: relative;
  flex: 1 0 24%;
  margin: 15px;
  height: 60px;
  background: rgb(58, 58, 61);
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding-top: 12px;
  font-weight: 600;
  cursor: pointer;
}

.active {
  background: #f2a42e;
  color: rgb(58, 58, 61);
}

@media (max-width: 800px) {
  #drum-machine {
    width: 90%;
  }
}
